.content-header>h1, .content-header>.container>h1 {
	margin: 0 0 0px;
	font-size: 20px;
}
.input-group-addon, .input-group-btn, table {
	font-size: 12px;
}

.logo-img {
	width: 160px;
}

.modal-lg {
	width: 900px;
}

.modal-sm {
	width: 300px;
}

.modal-full {
	width: 99%;
}
.form-control, .select2-container .select2-selection--single{
	height: 34px !important;
}
.btn-lg{
	font-size: 0.811rem;
}
.input-group-btn .btn{
	padding: 7.5px 10px;
}

@media(max-width: 767px){
	.input-group-btn .btn{
		padding: 5.9px 10px;
	}
}
@media(min-width:768px){
	.no-padding{
		padding-left: 0;
		padding-right: 0;
	}
	.no-padding-l{
		padding-left: 0;
	}
	.no-padding-r{
		padding-right: 0;
	}
}
.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>.treeview-menu, .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu>li:hover>a>span:not(.pull-right) {
	width: 215px;
}
select::-ms-expand {
	display: none;
}
select::-ms-expand {
	display: none;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    color: white;
    /*padding: 5px 10px;*/
    display: inline-block;
    width: 100px;
    height: 29px;
    margin-bottom: 0px !important;
}
.block-centered{
	display: block !important;
	vertical-align: middle !important;
	margin: auto;
	margin-bottom: 5px;
}
#loading_modal *{
	background: transparent !important;
	box-shadow:none;
	margin:auto;
}
.pv-link{
	font-size: .9em;
	color: #0f9ad8;
}
.bd-danger{
	border: 1px #dc8c8c solid;
}
.editor{
	width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;
}
.subsection-collapse-btn{
	font-size: 1em;
	color: #fff;
}
.box-body .card-header{
	padding: 0;
}
.box-body .card-header .btn:hover {
    /* -webkit-transition: all .5s ease-in-out; */
    -o-transition: none;
    -moz-transition: none;
    transition: all none;
}
.box-body .card-header .btn.focus, .box-body .card-header .btn:focus {
    outline: 0;
    box-shadow: none;
}
.box-body img{
	max-height: 200px;
}
